<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Accommodation</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-col size="12" no-padding>
			<img src="/../assets/images/accommodation/accommodation_header.jpg" alt="" style="height: 100%; width: 100%;">
		</ion-col>
	</ion-row>
	<ion-row style="background-color: #F5F4EB">
		<ion-col size="12" no-padding>
			<div style="text-align: center;">
				<h4 style="color: blue;">Sleep in Comfort</h4>
				<p>
					There is nothing quite like a Filipino home. Amuma is the feeling that you belong. It means we
					reserve you a room, we’ll prepare you a home in vibrant places you’ll never feel alone.
				</p>
			</div>
		</ion-col>
	</ion-row>
</ion-content>