.container {
  background-color: #F5F4EB;
  text-align: center;
  p {
    font-size: 14px;
  }
  h1 {
    font-size: 20px;
    color: #1275bc;
  }
  h2 {
    font-size: 18px;
  }
  h3 {
    font-size: 16px;
  }
  ion-col {
    padding: 15px 15px 30px 15px;
  }
}
