<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-back-button></ion-back-button>
		</ion-buttons>
		<ion-title>Accommodation</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-row>
		<ion-col size="12" no-padding>
			<img src="/../assets/images/accommodation/accommodation_header.jpg" alt="">
		</ion-col>
	</ion-row>
	<ion-row class="container">
		<ion-col size="12">
			<h1>Sleep in Comfort</h1>
			<p>There is nothing quite like a Filipino home. Amuma is the feeling that you belong. It means we
				reserve you a room, we’ll prepare you a home in vibrant places you’ll never feel alone.
			</p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/accommodation/deluxe.jpg" alt="">
			<h3>Deluxe Room</h3>
			<p>The native-styled deluxe rooms have a quaint and cozy feel as daylight filters through capiz shell
				windows. The garden wing room offers some of the best sunrise views in the entire resort, guests can
				enjoy a swim in the pool or simply lounge in the verandas amidst tropical surroundings of native bamboos
				and age old acacia trees that provides a cozy enclave around the area.</p>
			<h3>Amenities</h3>
			<p>Area – 38.91 sqm. • 2 Double Beds • Mini Bar • Cable TV Telephone • Shower & Bathtub • Private Veranda •
				Coffee / Tea Service</p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/accommodation/amuma-spa.jpg" alt="">
			<h3>Amuma Spa Suite</h3>
			<p>The luxuriant Spa Suites are expansive. It is perfect for those who want to unwind and indulge in Amuma
				Spa treatments. Located in the Amuma Spa Wing and close to treatment pavilions, its private veranda
				offers a relaxing vista of the lagoon-style pool and tropical gardens. The spacious bathroom offers al
				fresco shower and bath.</p>
			<h3>Amenities</h3>
			<p>Area – 49.91 sqm. • 1 King size OR 2 Double Beds • Mini Bar • Coffee / Tea Service • Cable TV • Telephone
				Shower & Bathtub • Private Veranda</p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/accommodation/premier-deluxe.jpg" alt="">
			<h3>Premier Deluxe Room</h3>
			<p>Bluewater Maribago's Premier Deluxe Rooms are contemporary in design, with focus on space and comfort.
				Its style complements the expanse of its beach environment with clean lines and floating beds. Its
				skylit bathroom is large with a free-standing bathtub and separate shower. The Premier Deluxe Rooms
				present a new resort experience.</p>
			<h3>Amenities</h3>
			<p>Area – 44.52 sqm. • 2 Double Beds • Mini Bar Cable Television • Telephone • Shower & Bathtub • Private
				Veranda Coffee / Tea Service</p>
		</ion-col>
		<ion-col size="12">
			<img src="/../assets/images/accommodation/royal-bungalow.jpg" alt="">
			<h3>Royal Bungalow</h3>
			<p>The well-appointed Royal Bungalows are located on the beach, each with a separate living space and
				spacious balcony. They offer views of the white sand beach and Bluewater private island. These quaint
				and expansive bungalows and comfortable set-up are ideal for family outings and vacations.</p>
			<h3>Amenities</h3>
			<p>Area – 59.04 sqm. • 2 double beds or 1 king bed • Mini Bar • Cable Television • Telephone Shower &
				Bathtub • Private Veranda • Coffee / Tea Service</p>
		</ion-col>
	</ion-row>
</ion-content>
