<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>Dining</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row>
        <ion-col size="12" no-padding>
            <img src="/../assets/images/dining/dining_header.jpg" alt="" style="height: 100%; width: 100%;">
        </ion-col>
    </ion-row>
    <ion-row class="container">
        <ion-col size="12">
            <h1>Feast of Flavors</h1>
            <p>
                There is nothing quite like a Filipino feast. Amuma means going all out for every guest. It means we
                won’t just serve a feast, we’ll even join you in song, to create exquisite moments you won’t soon
                forget.
            </p>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/dining/allegro.jpg" alt="" style="height: 100%; width: 100%;">
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/dining/allegro_logo.jpg" alt="" style="width: 50%;">
            <p>
                Allegro Restaurant is Bluewater Maribago's main restaurant. It offers al fresco dining by the
                poolside patios. The restaurant is open 24 hours daily and is popular for its ala carte and buffet
                menu options. Enjoy its nightly themed dinners especially the Barrio Fiesta dinner every Saturday
                night where guests can immerse in local culture through live cultural presentations.
            </p>
        </ion-col>
        <ion-col size="12">
            <ion-button expand="block">Reserve Now</ion-button>
            <ion-button expand="block">Download Menu Here</ion-button>
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/dining/the-cove-bg.jpg" alt="" style="height: 100%; width: 100%;">
        </ion-col>
        <ion-col size="12">
            <img src="/../assets/images/dining/the-cove-logo.jpg" alt="" style="width: 50%;">
            <p>The Cove is a live seafood restaurant that offers panoramic view of the Bluewater private island and the
                open sea. Cool and breezy, this premier dining outlet is one of Cebu's best places to indulge in the
                freshest bounty of the sea. Experience a culinary journey that goes beyond fresh.</p>
            <p>The Cove is open for lunch from 11:00 am to 3:00 pm and dinner starting at 6:00 pm until 10:00 pm
                daily.</p>
        </ion-col>
        <ion-col size="12">
            <ion-button expand="block">Reserve Now</ion-button>
            <ion-button expand="block">Download Menu Here</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
