<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-icon icon="mail" style="font-size: 30px;"></ion-icon>
		</ion-buttons>
		<ion-title>
			{{ headerTitle | titlecase }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="branchName == 'maribago'">
	this is maribago
</ion-content>
<ion-content *ngIf="branchName == 'sumilon'">
	this is sumilon
</ion-content>
<ion-content *ngIf="branchName == 'panglao'">
	this is panglao
</ion-content>