<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-menu-button></ion-menu-button>
		</ion-buttons>
		<ion-buttons slot="end">
			<ion-icon icon="mail" style="font-size: 30px;"></ion-icon>
		</ion-buttons>
		<ion-title>
			{{ headerTitle | titlecase }}
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content *ngIf="branchName == 'maribago'">
	<ion-row>
		<ion-col size="12" no-padding style="max-height: 200px;">
			<img style="height: 200px; width: 100%" src="/../assets/images/main_top_image.jpg" alt="">
		</ion-col>
	</ion-row>
	<ion-row no-padding style="height: 138px;">
		<ion-col size="6" no-padding routerLink="/#" style="background: url('/../assets/images/news-bg.jpg') center">
			<div class="title-text no-border">
				<img style="height: 30px; width: 30px;" src="/../assets/images/news-icon.svg" alt="">
				<span>News</span>
			</div>
		</ion-col>
		<ion-col size="6" no-padding routerLink="/#" style="background: url('/../assets/images/offers-bg.jpg') center">
			<div class="title-text">
				<img style="height: 30px; width: 30px;" src="/../assets/images/offers-icon.svg" alt="">
				<span>Offers</span>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding style="height: 138px;">
		<ion-col size="6" no-padding routerLink="/accommodation" style="background: url('/../assets/images/accomodation-bg.jpg') center">
			<div class="title-text no-border">
				<img style="height: 30px; width: 30px;" src="/../assets/images/accomodation-icon.svg" alt="">
				<span>Accomodations</span>
			</div>
		</ion-col>
		<ion-col size="6" no-padding routerLink="/dining" style="background: url('/../assets/images/dining-bg.jpg') center">
			<div class="title-text">
				<img style="height: 30px; width: 30px;" src="/../assets/images/dining-icon.svg" alt="">
				<span>Dining</span>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding style="height: 138px;">
		<ion-col size="6" no-padding style="background: url('/../assets/images/spa-bg.jpg') center">
			<div class="title-text no-border">
				<img style="height: 30px; width: 30px;" src="/../assets/images/spa-icon.svg" alt="">
				<span>Spa</span>
			</div>
		</ion-col>
		<ion-col size="6" no-padding style="background: url('/../assets/images/adventure-bg.jpg') center">
			<div class="title-text">
				<img style="height: 30px; width: 30px;" src="/../assets/images/adventure-icon.svg" alt="">
				<span>Adventure</span>
			</div>
		</ion-col>
	</ion-row>
	<ion-row no-padding style="height: 138px;">
		<ion-col size="6" no-padding style="background: url('/../assets/images/events-bg.jpg') center">
			<div class="title-text no-border">
				<img style="height: 30px; width: 30px;" src="/../assets/images/events-icon.svg" alt="">
				<span>Events</span>
			</div>
		</ion-col>
		<ion-col size="6" no-padding style="background: url('/../assets/images/gallery-bg.jpg') center">
			<div class="title-text">
				<img style="height: 30px; width: 30px;" src="/../assets/images/gallery-icon.svg" alt="">
				<span>Gallery</span>
			</div>
		</ion-col>
	</ion-row>
</ion-content>
<ion-content *ngIf="branchName == 'sumilon'">
	<ion-row>
		<ion-col size="12" no-padding>
			<img style="width: 100%" src="/../assets/images/main_top_image.jpg" alt="">
		</ion-col>
	</ion-row>
</ion-content>
<ion-content *ngIf="branchName == 'panglao'">
	<ion-row>
		<ion-col size="12" no-padding>
			<img style="width: 100%" src="/../assets/images/main_top_image.jpg" alt="">
		</ion-col>
	</ion-row>
</ion-content>
<ion-footer>
	<ion-toolbar color="primary">
		<ion-button expand="full" fill="clear" color="light" style="font-weight: 600">Book Now</ion-button>
	</ion-toolbar>
</ion-footer>
